body {
    height: 100%;
    margin: 0;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100%;
}

.title {
    padding: 2rem;
    text-align: center;
    margin: 0;
}

.title h1 {
    font-size: 80px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 0.85;
    margin-bottom: 28px;
    margin: 0;
    padding: 0;
    color: aliceblue;
}

.title h3 {
    color: aliceblue;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.title .smallsep {
    background: #fff;
    height: 2px;
    width: 70px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.scroll-down {
    position: absolute;
    left: 50vw;
    bottom: 5vh;
    display: block;
    text-align: center;
    font-size: 1em;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0;
    width: 15px;
    height: 15px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    z-index: 9;
    /* flex-grow: 1; */
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
    -webkit-animation: fade_move_down 2s ease-in-out infinite;
    -moz-animation: fade_move_down 2s ease-in-out infinite;
    animation: fade_move_down 2s ease-in-out infinite;
}


/*animated scroll arrow animation*/

@-webkit-keyframes fade_move_down {
    0% {
        -webkit-transform: translate(0, -10px) rotate(45deg);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translate(0, 10px) rotate(45deg);
        opacity: 0;
    }
}

@-moz-keyframes fade_move_down {
    0% {
        -moz-transform: translate(0, -10px) rotate(45deg);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -moz-transform: translate(0, 10px) rotate(45deg);
        opacity: 0;
    }
}

@keyframes fade_move_down {
    0% {
        transform: translate(0, -10px) rotate(45deg);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translate(0, 10px) rotate(45deg);
        opacity: 0;
    }
}

.resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.resume h2 {
    color: aliceblue;
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
}

.panel {
    background-image: linear-gradient( to bottom right, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 100%);
    /* backdrop-filter: blur(6px); */
    border-radius: 12px;
    width: 80%;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 3%;
    box-shadow: rgba(255, 255, 255, 0.5) -20px -20px 45px inset, rgba(0, 0, 0, 0.1) 10px 10px 20px, rgba(0, 0, 0, 0.06) 5px 5px 10px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    content: "";
    display: block;
    position: relative;
    background-image: linear-gradient( 135deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 40%, rgba(255, 255, 255, 0) 40%);
    pointer-events: none;
    z-index: -1;
    position: relative;
}